.env

config/__pycache__/

DjangoBackend/__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
media/
/staticfiles/


client_secret_1098199530875-1rr9ccdmt810gqdgu5oeqd8pesh6f5or.apps.googleusercontent.com.json

